/*google fonts: Hind-Shiliguri, Poppins, Monteserrat*/
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap");
/*
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
*/
/*-------------------------------------------------------------------------------------*/
/*colors*/
:root {
    --darkBlue: #111a28;
    --matooBlack: #1d293a;
    --white: #ffffff;
    --lightGreen: #00cf5d;
    --lightGray: #999;
}
/*-------------------------------------------------------------------------------------*/
/*Default css*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: var(--lightGray);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--lightGreen);
}
/*-------------------------------------------------------------------------------------*/
/*centering elements*/
/*center an element using flex*/
.cFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*center an element using flex*/
.cGrid {
    display: grid;
    place-items: center;
}

/*center an element using transform:translate()*/
.cTrans {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cTransL {
    left: 50%;
    transform: translate(-50%);
}

.cTransR {
    right: 50%;
    transform: translate(-50%);
}
/*-------------------------------------------------------------------------------------*/
/*Button*/

/*<!-- HTML !-->
<button class="btnP" role="button">
  <span class="btnS"></span>
  <span class="btnE"></span>
  <span class="btnF text">
    Button 82
  </span>
</button>*/

/* CSS */
.btnP {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btnS {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.btnE {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        hsl(340deg 100% 16%) 0%,
        hsl(340deg 100% 32%) 8%,
        hsl(340deg 100% 32%) 92%,
        hsl(340deg 100% 16%) 100%
    );
}

.btnF {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
    .btnF {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.btnP:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.btnP:hover .btnF {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btnP:active .btnF {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.btnP:hover .btnS {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btnP:active .btnS {
    transform: translateY(1px);
    transition: transform 34ms;
}

.btnP:focus:not(:focus-visible) {
    outline: none;
}
