@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f9fafb;
	background-image: url("https://github.com/samrat9x/My_Tiny_Projects/blob/main/img/circle.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 500px;
	background-attachment: fixed;
	min-height: 100vh;
	user-select: none;
	font-family: "Poppins", sans-serif;
}

.title {
	text-align: center;
	padding: 110px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-weight: 700;
	font-size: 3.75rem;
	font-family:
		League Spartan,
		sans-serif;
}

.title .maintit,
#loading p {
	background: #7198d2;
	background: -webkit-linear-gradient(to right, #7198d2 0%, #cf576b 100%);
	background: -moz-linear-gradient(to right, #7198d2 0%, #cf576b 100%);
	background: linear-gradient(to right, #7198d2 0%, #cf576b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.title .subtit {
	padding: 10px 0px;
	color: #6b7280;
	font-size: 1.25rem;
	font-family: "Poppins", sans-serif;
}

.wrapper {
	color: #fff;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.wrapper .item {
	margin-bottom: 50px;
	transition: all 0.5s;
	color: #000;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.wrapper .item .up img {
	width: 300px;
}

.wrapper .item .down a {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: #000;
}

.wrapper .item .down a .tools i {
	font-size: 25px;
	padding: 5px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("https://github.com/samrat9x/My_Tiny_Projects/blob/main/img/footer.png")
		no-repeat;
	background-size: 100%;
	background-position: center bottom;
	height: 135px;
}

footer .head {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family:
		League Spartan,
		sans-serif;
}

/*duolingo button style start*/
.button {
	border-radius: 16px;
	border: 3px solid #b5a49a;
	border-bottom: 12px solid #b5a49a;
	margin: 10px;
	transition: all 0.1s;
	display: inline-flex;
	padding: 12px 12px;
}

.button:hover {
	background-color: #ddf4ff;
	border-color: #1cb0f6;
}

.button:active {
	/*border-bottom: 2px solid #1cb0f6;*/
}
/*duolingo button style end*/

/*Preloader*/
#loading {
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 9999;
	background: #fff;
	background-size: 200px 200px;
}
#loading p {
	text-align: center;
	font-size: 5rem;
	font-family:
		League Spartan,
		sans-serif;
	width: 100%;
	margin: 300px auto;
}
/*preloader*/
